#hero-page {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    width: 100%;
}

#hero-page-text h3 {
    font-weight: 200;
}

#hero-page-image img {
    width: 400px;
}

#stats {

}

#stats #stats-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#stats #stats-cards .stats-cards-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    border-radius: 30px;
    border: 1px solid var(--primary-color-light);
    background-color: var(--black-not-that-black);
    height: 160px;
    width: 270px;
    margin: auto;

}

#work {
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}

#work #work-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color-light-fade);
    height: 100px;
    border-radius: 30px;
    padding: 8px;
}

#work #work-top .work-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--black);
    border-radius: 22px;

    & h4 {
        transition: 0.3s ease-out;
    }

    &:hover {
        cursor: pointer;

        & h4 {
            color: var(--primary-color);
        }
    }

}

#work #work-top .work-top-btn:hover h4 {
    color: var(--primary-color);
}

#work #work-top .work-top-btn:first-child {
    margin-right: 10px;
}

#work #work-top .work-top-btn .work-top-btn-active {
    color: var(--primary-color);
}

#work #work-bot {
    position: relative;
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    border: 3px solid var(--primary-color-light-fade);
    background-color: var(--black-not-that-black);
}

#work #work-bot-line {
    position: absolute;
    width: 3px;
    height: 100%;
    left: 115px;
    background-color: var(--primary-color-light-fade);
}

/*#work #work-bot svg{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/

/*}*/

#work #work-bot #work-bot-content {
    width: 100%;

    padding: 50px 80px;
}

#work #work-bot #work-bot-content .work-bot-content-row {
    display: flex;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    & .work-bot-content-row-text h4 {
        transition: 0.3s ease-out;
    }

    &:hover .work-bot-content-row-text h4 {
        color: var(--primary-color);
    }

}

#work #work-bot #work-bot-content .work-bot-content-row img {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#work #work-bot #work-bot-content .work-bot-content-row .work-bot-content-row-text {
    margin-left: 10px;
    max-width: 600px;
}

#work #work-bot #work-bot-content .work-bot-content-row .work-bot-content-row-text .mini {
    margin-bottom: 7px;
}

#projects {


    & .projects-row {
        width: 100%;
        height: 360px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 50px;

        & img {
            height: 100%;
            width: 600px;
            object-fit: cover;
            border-radius: 30px;
        }

        & .projects-row-space {
            margin: 0 25px;
        }

        & .projects-row-text {

            & h3 {
                margin-bottom: 15px;
            }

            & p {
                margin-bottom: 10px;
            }

            & .projects-row-text-links {
                & img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
}

#tools {

    width: 100%;

    & .tools-row {
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        & .tools-row-card {
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;

            & img {
                height: 100px;
                object-fit: contain; /* Zajistí, že celý obrázek bude vidět */
            }

            & h4 {
                text-align: center;
                margin-top: 25px;
                font-size: 30px;
            }
        }
    }
}

#reviews {


    & .reviews-row {
        display: flex;
        justify-content: space-between;


        & .reviews-row-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 380px;
            padding: 25px;
            border-radius: 20px;
            border: 1px solid var(--primary-color-light);
            background-color: var(--black);

            & p {
                font-weight: 400;
                text-align: justify;
            }

            & .reviews-row-card-text {
                margin-top: 20px;
                font-weight: 400;
                display: flex;
                align-items: center;

                & span p {
                    color: var(--primary-color);
                    font-weight: 400;
                    margin-right: 5px;
                }

                & .mini {
                    font-weight: 200;
                }
            }
        }
    }

}

@media (max-width: 1440px) {
    #stats #stats-cards .stats-cards-card {
        width: 100%;
        margin-bottom: 20px;
    }

    #projects {
        & .projects-row {
            height: 270px;

            & img {
                width: 500px;
            }
        }
    }

    #reviews .reviews-row {
        flex-direction: column;
        align-items: center;
    }

    #reviews .reviews-row .reviews-row-card {
        max-width: 450px;
        width: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    #hero-page {
        flex-direction: column;
        height: auto;
        margin-top: 10vh;
        margin-bottom: 100px;

        & img {
            margin-top: 50px;
        }
    }

    #stats {
        & #stats-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #projects {
        & .projects-row {
            & img {
                height: 220px;
                max-width: 300px;
                object-fit: cover;
            }
        }
    }

    #tools {
        & .tools-row {
            grid-template-columns: repeat(4, 1fr);

            & .tools-row-card {

            }
        }
    }
}

@media (max-width: 576px) {

    #stats {
        & #stats-cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    #work {
        & #work-bot-line {
            position: absolute;
            width: 3px;
            height: 100%;
            left: 55px;
            background-color: var(--primary-color-light-fade);
        }

        & #work-bot-content{
            padding: 50px 20px !important;
        }
    }

    #projects{
        & .projects-row{
            flex-direction: column;
            height: auto;

            & .projects-row {
                & img {
                    order: 1;
                    margin-bottom: 20px;
                    height: auto;
                    max-height: 300px;
                    width: 100%;
                }
                & .projects-row-text{
                    order: 2;

                }

            }
        }
    }

    #tools {
        & .tools-row {
            grid-template-columns: repeat(2, 1fr);

            & .tools-row-card {
                width: auto;
            }
        }
    }
}
