:root{
    --primary-color: #FACC15;
    --primary-color-dark: #9B870C;
    --primary-color-light: #FED7AAFF;
    --primary-color-light-fade: #605443;
    --white: #FFFFFF;
    --black-not-that-black: #1C1B17;
    --black: #1C1B17;
}
.light-theme {
    --primary-color: #ffbf00;
    --primary-color-dark: #b38f00;
    --primary-color-light: #fff5cc;
    --primary-color-light-fade: #fffcf0;
    --white: #1C1B17;
    --black: #FFFFFF;
    --black-not-that-black: #fffcf0;

    h2{
        color: var(--primary-color-light);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-decoration: none;
    list-style: none;

    color: var(--white);

    position: relative;

    transition: 0.5s ease-out;
}

body{
    background: var(--black);
}
::selection {
    background-color: #ffb347; /* barva pozadí */
    color: #000000;            /* barva textu */
}
h1{
    font-weight: 600;
    font-size: 4.7rem;
    color: var(--white);
}

h1 span{
    font-family: sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-color);
}
#underh1{
    font-weight: 500;
    font-size: 3.5rem;
}
#underh1 span{
    color: var(--primary-color);
}

h2 {
    text-align: center;
    margin-bottom: -50px;
    font-weight: 300;
    font-size: 7.5rem;
    font-family: sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-color-light);
    /*text-shadow:*/
    /*    -1px -1px 0 #000,*/
    /*    1px -1px 0 #000,*/
    /*    -1px 1px 0 #000,*/
    /*    1px 1px 0 #000;*/
}
h3{
    font-weight: 400;
    font-size: 3rem;

}
h3 span, p span{
    color: var(--primary-color);
}

h4{
    font-weight: 400;
    font-size: 1.5rem;

    & span{
        color: var(--primary-color);
    }
}

p{
    font-weight: 200;
    font-size: 1rem;
}

.mini{
    font-size: 0.85rem;
    font-weight: 200 !important;
}


.container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 1rem;
}
main{
    margin-left: 450px;
    width: calc(100% - 450px);
}

section{
    margin-bottom: 100px;

    &:first-child{
        margin-bottom: 0;
    }
}


@media (max-width: 1440px) {
    h1{
        font-size: 4rem;
    }
    #underh1{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2.5rem;
    }
}
@media (max-width: 992px) {
    .container{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        padding: 0 50px;
    }
    main{
        margin-left: 0;
        width: 100%;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
    .container{
        padding: 0 20px;
    }
    h1{
        font-size: 2.7rem;
    }
    #underh1{
        margin-top: 20px;
        font-size: 2.2rem;
    }
    h3{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    h2{
        font-size: 6rem;
    }
}
